body {
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}
/* Nav Bar and background */
.dot {
  color: red;
}
.navBar {
  background-image: url("/images/slider-image3.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 100% auto;
  height: 640px;
}
.title {
  margin-right: 10%;
  font-size: 25px;
}
.reserve {
    background-color: red;
    padding: 15px;
    height: 20px;
    font-size: 25px;
}
.navBar .item:nth-child(7) {
margin-left: 25%;
}
.navBar a {
  text-decoration: none;
  color: white;
}
.navBar a:hover {
  transition: all 300ms ease-in;
  color: red;
}
/* Nav Bar and background end */

/* Our Story Start */

.ourStory h3 {
  text-align: center;
}
.ourStory {
  color: black;
  text-align: left;
  margin: 70px 27% auto;
  line-height: 1.6;
}
.ourStory p {
color: #8B8B8B;
}
.ourStory img {
  float: right;
  margin-left: 10px auto;
}
.ourStory:nth-child(2) {
  clear: left;
}
/* Our Story End */

/* Our Chefs styling Start */
h3 {
  color: black;
  text-align: center;
}
.chefImgContainer {
  display: flex;
  justify-content: center;
  width: 100% auto;
  height: 100% auto;
  margin-top: 3%;
  padding: 4%;
  background-color: #F7F7F7;
  flex-wrap: nowrap;
  line-height: 0.1;
}
.chefImgContainer img {
  height: 540px;
  width: 360px;
  padding-left: 30px;
}
.chefImgContainer h2 {
position: relative;
left: 29%;
font-size: 30px;
}
.chefImgContainer h4 {
  font-size: 12px;
  color: #8B8B8B;
}
.chefImgContainer > div {
  padding-top: 70px;
  
}
/* Our Chefs styling End */

/* Our Chefs styling Start */
.ourMenuImgs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Our Chefs styling End */

