body {
  text-align: center;
  font-family: Montserrat, sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: white;
}
/* Nav Bar and background */
.title {
  color: red;
}
.navBar {
  background-image: url("/images/slider-image3.jpg");
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 100% auto;
  height: 750px;
}
.reserve {
    position: relative;
    top: 0;
    background-color: red;
    padding: 10px;
    margin: 0;
    height: 10px;
}
.navBar a {
  text-decoration: none;
  color: white;
}
.navBar a:hover {
  transition: all 300ms ease-in;
  color: red;
}
/* Nav Bar and background end */

/* Our Story Start */

.ourStory h3 {
  text-align: center;
}
.ourStory {
  color: black;
  text-align: left;
  margin: 70px 27%;
  line-height: 1.6;
}

.ourStory img {
  float: right;
  margin-left: 10px;
}
.ourStory:nth-child(2) {
  clear: left;
}
/* Our Story End */

/* Our Chefs styling Start */
h3 {
  color: black;
  text-align: center;
}
.chefImgContainer {
display: flex;
justify-content: space-evenly;
width: 90% auto;
height: 90% auto;
margin-left: 5%;
background-color: #D5DBDB;
flex-grow: 1;
flex-wrap: wrap;
}
.chefImgContainer > div {
  margin: 40px 10px 20px 10px;
  padding-top: 50px;
}
/* Our Chefs styling End */


